_UpgradeReport_Files/
*.[Cc]ache
*.config
*.log
*.obj
*.pdb
*.pfx
*.[Pp]ublish.xml
*.pubxml
*.suo
*.tlb
*.tmp
*.user
.vs/
.vscode/
$RECYCLE.BIN/
App_Data*/
app.publish/
appsettings.*json
Backup*/

[Bb]in/
!/bin
/bin/*

[Bb]uild[Ll]og.*
clientsettings.*json
[Dd]ebug/
Desktop.ini
dist/*
ehthumbs.db
[Oo]bj/
[Rr]elease/
[Tt]est[Rr]esult*/
Thumbs.db
UpgradeLog*.htm
UpgradeLog*.XML
x64/

!.placeholder
